* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #2f2f4a;
}

h1 {
  color: white;
  padding-top: 5%;
}

.container {
  padding-top: 5rem;
  height: 10vh;
  width: 50vw;
}

.components {
  display: flex;
  height: 10vh;
  width: 50vw;
  background-color: #171732;
  box-shadow: #171755 -20px 20px 20px 20px;
  padding: 5%;
}

#button {
  width: 20%;
  border: 0;
  background-color: #15152e;
  box-shadow: #00000040 20px -20px 20px 20px;
  color: white;
}

#user {
  width: 80%;
  padding-left: 4%;
  font-size: 100%;
  border: 0;
  box-shadow: #00000040 20px -20px 20px 20px;
  background-color: #08083c;
  color: white;
}

input:focus {
  outline: none;
}

#display {
  margin: 15% 0;
  height: fit-content;
  width: 50%;
  background-color: #23235d;
  color: white;
  box-shadow: #171755 -20px 20px 20px 20px;
  font-size: 15px;
}

img {
  width: 20%;
  /* padding: 20px; */
  border: 5px solid #0a0a49;
  border-radius: 25%;
}

.following a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.following {
  padding-left: 20px;
  line-height: 1cm;
}

.follows a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.follows {
  display: flex;
  gap: 20px;
  padding-left: 20px;
}

.follows h2 {
  color: #8c8c92;
}

.gitlink {
  font-size: 20px;
  padding-left: 20px;
  text-decoration: none;
  line-height: 1cm;
}

.gitlink a {
  text-decoration: none;
  color: white;
}



@media screen  and (max-width: 600px) {
  body {
    overflow: none;
  }

  h1 {
    color: white;
    font-size: 20px;
    padding: 20% 0 0 4%;
  }

  .container {
    padding-top: 5rem;
    height: none;
    min-width: fit-content;
  }
  .components {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: none;
    width: none;
    background-color: none;
    box-shadow: none;
   padding: 20px 0 40px;
   min-width: 250px;
  }

  #button {
    min-width: 90px;
    border: 0;
    background-color: #141446;
    box-shadow: none;
    color: white;
    padding: 3%;
    align-self: center;
  }

  #user {
    min-width: 200px;
    height: 10vh;
    padding: 4%;
    font-size: 100%;
    border: 0;
    box-shadow: #00000040 20px -20px 20px 20px;
    background-color: #08083c;
    color: white;
    align-self: center;
  }

  #display {
    margin: 20%;
    height: fit-content;
    min-width: 200px;
    background-color: #23235d;
    color: white;
    box-shadow: #171755 -20px 20px 20px 20px;
    font-size: 15px;
  }

  .following a {
    color: white;
    font-size: 20px;
    text-decoration: none;
  }
  
  .following {
    padding-left: 20px;
    line-height: 1cm;
  }
  
  .follows a {
    color: white;
    font-size: 20px;
    text-decoration: none;
  }
  
  .follows {
    display: flex;
    gap: 20px;
    padding-left: 20px;
  }
  
  .follows h2 {
    color: #8c8c92;
    font-size: 17px;
  }
  
  .gitlink {
    font-size: 20px;
    padding-left: 20px;
    text-decoration: none;
    line-height: 1cm;
  }
}
